<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>


<!--NAKAREADY LANG ITONG FILE NA ITO PARA IF EVER NA GUSTO NYO GUMAWA NG LAYOUT PARA SA NAVBAR, SIDEBAR, FOOTER OR ETC. 
PWEDE NYO ILAGAY DITO YUNG FRAGMENT, GUMAMIT LANG KAYO NG THYMELEAF, TIGNAN NYO YUNG DOCUMENTATION SA GOOGLE KUNG PAANO GAMITIN-->

